nav {
	padding-left: 60px;
	padding-right: 60px;
	background-color: lightgray;
	height: 50px;
	text-align: left;
	position: relative;
}

nav img {
	position: absolute;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	border-radius: 50%;
	border: black solid 1px;
}

ul {
	position: relative;
	list-style-type: none;
	margin: 0;
	padding-top: 15px;
	padding-left: 120px;
}

li {
	display: inline;
	border-right: black solid 1px;
	padding-left: 3px;
	padding-right: 4px;
}

li a {
	/* display: block; */
	text-transform: capitalize;
}

html {
	background-image: url("../images/outerspace_landscape.jpeg");
	background-repeat: no-repeat;
	background-size: cover;
}

.box {
	border: 10px green dotted;
	position: absolute;
	width: 600px;
	height: 300px;
	margin: -150px 0 0 -300px;
	top: 50%;
	left: 50%;
}

.spacecat img {
	position: relative;
	width: 200px;
	height: 200px;
	top: -100px;
	left: -100px;
}

.spacedog img {
	position: relative;
	width: 200px;
	height: 200px;
	top: 0px;
	left: 500px;
}